# TODO: specify the version of each package
Sphinx
sphinx-needs
jupyter-sphinx
matplotlib
sphinx-rtd-theme
sphinxcontrib-drawio
sphinxcontrib-jsmath
sphinxcontrib-kroki
sphinxcontrib-mermaid
sphinxcontrib-plantuml
sphinxcontrib-wavedrom
linuxdoc
prettytable
jupyter
